.Quiz {
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 1174px) {
    padding: 0 10px;
    width: 95%;
    overflow-x: visible;
  }

  .Quiz-body {
    width: 73rem;
    height: 58rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media screen and (max-width: 1174px) {
      width: 100%;
    }

    .Quiz-header {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1000px;
      width: 1000px;
      min-height: 100px;

      @media screen and (max-width: 1174px) {
        width: 100%;
      }
    }

    .Quiz-control {
      margin-top: auto;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 5%;

      .Quiz-control_btn {
        background: #2f5597;
        border: 1px solid #000;
        color: #fff;
        border-radius: 10px;
        flex-grow: 2;
        min-height: 2.5rem;
        font-size: 1.3rem;
      }

      .Quiz-control_bar {
        border: 1px solid #000;
        min-height: 2.5rem;
        flex-grow: 10;
        height: 2rem;
        background: #a9d18e;
        border-radius: 10px;
      }
    }
  }
}
