.button {
  box-sizing: border-box;
  border: 0.1rem solid black;
  background: rgb(63, 86, 147);
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: 8rem;
  height: 2.5rem;
  font-size: 20px;
  padding: 10px 15px;

  &:hover {
    background: rgb(48, 68, 125);
  }
  &:active {
    background: rgb(25, 39, 78);
  }
}
