.Container.AnswerResult {
  width: 100% !important;
  height: max-content !important;
  padding: 2.12rem 1.62rem !important;
  display: flex;
  flex-direction: column;

  .AnswerResult-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;

    h3 {
      font-size: 2rem;
      margin: 0;
      text-align: start;
    }
    .AnswerResult-head-time {
      font-size: 1.25rem;

      span {
        color: #5a6ac4;
        margin-right: 0.62rem;
      }
    }
  }

  hr {
    width: 100%;
    margin-top: 0.75rem;
    margin-bottom: 2.31rem;
  }
}
