.QuizStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;

  label {
    font-size: 100px;
  }

  .QuizStart-input {
    margin-top: 2rem;
  }

  .QuizStart-button {
    border-radius: 30px;
    border: none;
    margin-top: 2rem;
  }
}
