.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: none;
  background: #4472c4;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  width: 8rem;
  font-size: 20px;
  padding: 10px 15px;

  &:hover {
    background: rgb(48, 68, 125);
  }
  &:active {
    background: rgb(25, 39, 78);
  }
}
