.mainPage {
  display: flex;
  flex-direction: column;
  align-items: center;

  .mainPage-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 108.375rem;
    width: 95%;
    margin-top: 7rem;
    margin-bottom: 10rem;
    gap: 18rem;

    .mainPage-content__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      &:nth-child(even) {
        flex-direction: row-reverse;
      }

      .mainPage-content__item-info {
        h2 {
          margin-bottom: 1.6875rem;
          font-size: 4.5rem;
          font-weight: 500;
          color: #4472c4;
          margin: 0;
        }

        p {
          text-align: justify;
          width: 37.5rem;
          font-size: 2.25rem;
          word-wrap: break-word;
        }
      }

      .mainPage-content__item-info-button {
        width: 28.75rem;
        font-size: 2.25rem;
        padding: 20px 20px;
      }
    }
  }
}
