.loginModal {
  .loginModal-container {
    display: flex;
    flex-direction: column;
    padding: 22px 32px;
    padding-bottom: 46px;
    border-radius: 50px;
    background-color: #f7f8fd;

    h2 {
      font-size: 48px;
      font-weight: 400;
    }

    .loginModal-container-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      margin: 37px auto;

      .loginModal-container-inputs__item {
        width: min-content;
        gap: 0;

        .input {
          border-radius: 20px;
          width: 432px;
          height: 54px;
          border: none;
          background-color: #dadada;
          font-size: 22.4px;
        }

        h3 {
          font-size: 28px;
          font-weight: 400;
          text-align: start;
        }

        &.password {
          position: relative;

          .input {
            padding-right: 2.8125rem;
          }

          img {
            position: absolute;
            right: 4%;
            top: 48px;
            width: 24px;
          }
        }
      }
    }

    .button {
      width: 100%;
      height: 60px;
    }

    .loginModal-container-registration {
      margin-top: 14px;
      text-align: start;

      span {
        margin-right: 2px;
      }

      .loginModal-container-registration-link {
        text-decoration: none;
        color: #4472c4;
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }
}
