.Result-info {
  display: flex;
  gap: 4.2rem;
  justify-content: space-between;

  @media screen and (max-width: 1390px) {
    flex-direction: column;
  }

  .Result-info-body {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 4.06rem;

    .Result-info-body_item {
      display: flex;
      justify-content: flex-end;
      gap: 2.38rem;
      align-items: center;
      margin-bottom: 2.12rem;

      span {
        font-size: 2.25rem;
      }

      .Container {
        font-size: 2.5rem;
        margin: 0;
      }
    }
  }
}
